<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>{{vm.translations.Common.Transmit}}</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <shipper-carrier selected-shipper="vm.selectedShipper" selected-carrier="vm.selectedCarrier"></shipper-carrier>
            <div class="col-md-4 col-sm-4 col-xs-12 no-left-padding">
                <div class="customDivRight">
                    <div class="form-group">
                        <label>{{vm.translations.ThinClient.TransmitItems}}</label>
                        <select ng-change="vm.transmitItemSelected()" multiple tabindex="3" ng-model="vm.selectedTransmitItem" class="form-control box-size"
                                ng-options="items as items.Name for items in vm.transmitItems">
                            <option value="" ng-if="false" ></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-disabled="vm.btnDisabled" ng-click="vm.transmit()" data-toggle="modal">{{vm.translations.Common.Transmit}}</button>
        </div>
    </div>
</div>