<!DOCTYPE html>
<html lang="en" ng-app="shipExecApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ShipExec Shipping</title>
</head>
<body>
    <div class="container-fluid shipping-template">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Shipping Actions">
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.newShipment()">New (F2)</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.repeatShipment()">Repeat (F8)</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.build()">Build</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.showDistributionList = !vm.showDistributionList">DistList</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.pickup()" data-action="pickup" id="btnPickup">Pickup</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.pending()" ng-hide="vm.profile.ProfileSetting.DisablePendingShipment">Pending</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="vm.mailRoom()" ng-show="vm.profile.ProfileSetting.EnableMailRoomProcessing">MailRoom</button>
                    <div class="pull-right">
                        <span>Mode:</span>
                        <field-select property="ShipMode"
                                      model="vm.shipMode"
                                      options="item.Value as item.Name for item in vm.shipModes"
                                      caption="Mode"
                                      form-type="Horizontal">
                        </field-select>
                        <span>Pkg: {{vm.packageIndex + 1}} of {{vm.totalPackages}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <field-input property="LoadFrom"
                             model="vm.loadFrom"
                             caption="Load From"
                             form-type="Horizontal">
                </field-input>

                <field-input property="Load"
                             model="vm.loadValue"
                             caption="Load"
                             form-type="Horizontal">
                </field-input>

                <div class="form-group" ng-hide="vm.profile.FieldOptions.Shipper.IsHidden">
                    <label class="control-label">Shipper</label>
                    <field-select property="Shipper"
                                  model="vm.currentShipment.PackageDefaults.Shipper"
                                  options="item.Value as item.Name for item in vm.profile.Shippers"
                                  caption="Shipper"
                                  form-type="Horizontal">
                    </field-select>
                </div>

                <field-date property="ShipDate"
                            model="vm.startshipdate.value"
                            caption="Ship Date"
                            is-open="vm.startshipdate.opened"
                            datepicker-options="vm.dateOptions"
                            form-type="Horizontal"
                            ng-hide="true">
                </field-date>

                <field-select property="Terms"
                              model="vm.currentShipment.PackageDefaults.Terms"
                              options="item.Value as item.Name for item in vm.profile.PaymentTerms"
                              caption="Terms"
                              form-type="Horizontal">
                </field-select>

                <field-checkbox property="ThirdPartyBilling"
                                model="vm.currentShipment.PackageDefaults.ThirdPartyBilling"
                                caption="3rd Party">
                </field-checkbox>

                <field-checkbox property="BillConsignee"
                                model="vm.currentShipment.PackageDefaults.BillConsignee"
                                caption="Bill Consignee">
                </field-checkbox>

                <field-checkbox property="BrokerageThirdPartyBilling"
                                model="vm.currentShipment.PackageDefaults.BrokerageThirdPartyBilling"
                                caption="Brokerage"
                                ng-hide="true">
                </field-checkbox>

                <div class="address-tabs">
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="active"><a href="javascript:void(0)">Pickup From</a></li>
                        <li ng-hide="!vm.showDistributionList"><a href="javascript:void(0)">Distribution List</a></li>
                        <li ng-hide="vm.profile.FieldOptions.ReturnAddress.IsHidden"><a href="javascript:void(0)">Return Address</a></li>
                        <li ng-hide="vm.profile.FieldOptions.OriginAddress.IsHidden || true"><a href="javascript:void(0)">Origin</a></li>
                        <li ng-hide="!vm.currentShipment.PackageDefaults.ThirdPartyBilling"><a href="javascript:void(0)">3rd Party Addr</a></li>
                        <li ng-hide="!vm.currentShipment.PackageDefaults.ConsigneeThirdPartyBilling"><a href="javascript:void(0)">Consignee 3rd</a></li>
                        <li ng-hide="!vm.currentShipment.PackageDefaults.BrokerageThirdPartyBilling || true"><a href="javascript:void(0)">Brokerage Addr</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="javascript:void(0)">General</a></li>
                    <li><a href="javascript:void(0)">Accessorials</a></li>
                    <li><a href="javascript:void(0)">Intl</a></li>
                    <li><a href="javascript:void(0)">Hazmat</a></li>
                    <li><a href="javascript:void(0)">Reference</a></li>
                    <li><a href="javascript:void(0)">LTL</a></li>
                    <li><a href="javascript:void(0)">Visibility</a></li>
                    <li><a href="javascript:void(0)">Goods</a></li>
                </ul>

                <div class="tab-content" style="padding-top:10px;">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-hide="vm.profile.FieldOptions.BoxType.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.CarrierInstructions.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.DeclaredValueAmount.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.Dimensions.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.InsuranceMethod.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.Packaging.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.PieceCount.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.TrackingNumber.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.ResidentialIndicator.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.POBoxIndicator.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.AccountNumber.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.TaxID.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.ConsigneePOBox.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.ConsigneeThirdPartyBilling.IsHidden || true"></div>
                                <div ng-hide="vm.profile.FieldOptions.ThirdPartyBilling.IsHidden || true"></div>

                                <name-address caption="Pickup From"
                                              nameaddress="vm.currentShipment.PackageDefaults.Consignee"
                                              countries="vm.profile.Countries"
                                              translations="vm.translations"
                                              field-options="vm.profile.FieldOptions"
                                              address-property-name="Consignee"
                                              current-shipment="vm.currentShipment"
                                              hide-address-book-list="false"
                                              hide-checkboxes="false"
                                              hide-validate="false"
                                              hide-search="false"
                                              active-subtab-index="1"
                                              is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                              address-book-id="vm.addressBookId"
                                              disable-fields="false">
                                </name-address>

                                <name-address caption="Return Address"
                                              nameaddress="vm.currentShipment.PackageDefaults.ReturnAddress"
                                              countries="vm.profile.Countries"
                                              translations="vm.translations"
                                              field-options="vm.profile.FieldOptions"
                                              address-property-name="ReturnAddress"
                                              current-shipment="vm.currentShipment"
                                              hide-address-book-list="false"
                                              hide-checkboxes="false"
                                              hide-validate="false"
                                              hide-search="false"
                                              active-subtab-index="2"
                                              is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                              address-book-id="vm.addressBookId"
                                              disable-fields="false">
                                </name-address>

                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-6" ng-hide="true">
                                        <field-input property="ShipperReference"
                                                     model="vm.currentShipment.PackageDefaults.ShipperReference"
                                                     caption="Study Reference Guide"
                                                     form-type="Horizontal">
                                        </field-input>
                                    </div>
                                    <div class="col-md-6">
                                        <field-input property="ShipperReference"
                                                     model="vm.currentShipment.PackageDefaults.ShipperReference"
                                                     caption="Study Reference Guide"
                                                     form-type="Horizontal">
                                        </field-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <field-input property="MiscReference1"
                                                     model="vm.currentShipment.PackageDefaults.MiscReference1"
                                                     caption="Protocol Number"
                                                     form-type="Horizontal">
                                        </field-input>
                                    </div>
                                    <div class="col-md-6">
                                        <field-input property="MiscReference2"
                                                     model="vm.currentShipment.PackageDefaults.MiscReference2"
                                                     caption="Site Number"
                                                     form-type="Horizontal">
                                        </field-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <field-input property="Temperature"
                                                     model="vm.currentShipment.PackageDefaults.ConsigneeReference"
                                                     caption="Temperature"
                                                     form-type="Horizontal"
                                                     change-function="vm.onTemperatureChange()">
                                        </field-input>
                                    </div>
                                    <div class="col-md-6">
                                        <field-input property="DryIceWeightKg"
                                                     model="vm.currentShipment.PackageDefaults.MiscReference3"
                                                     caption="Dry Ice Weight (kg)"
                                                     form-type="Horizontal"
                                                     ng-disabled="vm.currentShipment.PackageDefaults.ConsigneeReference !== 'Frozen'">
                                        </field-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <field-checkbox property="BiologicalSample"
                                                        model="vm.currentShipment.PackageDefaults.MiscReference4"
                                                        caption="Biological Sample">
                                        </field-checkbox>
                                    </div>
                                    <div class="col-md-6">
                                        <field-checkbox property="SaturdayDelivery"
                                                        model="vm.currentShipment.PackageDefaults.SaturdayDelivery"
                                                        caption="Saturday Delivery">
                                        </field-checkbox>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" ng-hide="true">
                                        <field-input property="BrokerageThirdPartyBilling"
                                                     model="vm.currentShipment.PackageDefaults.BrokerageThirdPartyBilling"
                                                     caption="Brokerage Third Party Billing"
                                                     form-type="Horizontal">
                                        </field-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="button" class="btn btn-xs btn-default" ng-click="vm.saveShipment()" ng-hide="vm.profile.ProfileSetting.DisablePendingShipment">Save</button>
                                        <button type="button" class="btn btn-xs btn-default" ng-click="vm.rate()" ng-hide="true">Rate</button>
                                        <button type="button" class="btn btn-xs btn-primary" ng-click="vm.checkShip()" ng-hide="vm.profile.ProfileSetting.DisableShip">Ship</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.showLastShipmentPanel">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Last Shipment</div>
                    <div class="panel-body">
                        <div>Tracking Number: {{vm.lastShipmentResponse.TrackingNumber}}</div>
                        <div>Service: {{vm.lastShipmentResponse.Service}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>