<div class="shipping-page">
    <div class="row">
        <div class="col-md-12">
            <div class="toolbar">
                <button class="btn btn-xs btn-primary" ng-click="vm.newShipment()">New(F2)</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.repeatShipment()">Repeat(F8)</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.build()">Build</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.showDistributionList = !vm.showDistributionList">DistList</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.openPickup()" ng-hide="vm.hidePickupButton">Pickup</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.showPendingShipments()" ng-if="!vm.profile.ProfileSetting.DisablePendingShipment">Pending</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.openMailRoom()" ng-if="vm.profile.ProfileSetting.EnableMailRoomProcessing">MailRoom</button>
                <span class="pull-right">
                    Mode: <field-select property="ShipMode"
                                        model="vm.shipMode"
                                        options="item.Value as item.Name for item in vm.shipModes"
                                        caption="Mode"
                                        form-type="Inline"></field-select>
                    Pkg: {{vm.packageIndex + 1}} of {{vm.totalPackages}}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="left-column">
                <field-select property="LoadFrom"
                              model="vm.loadFrom"
                              options="item.Value as item.Name for item in vm.loadFromOptions"
                              caption="Load From"
                              form-type="Horizontal"
                              change-function="vm.loadFromChanged()"></field-select>

                <field-input property="Load"
                             model="vm.loadValue"
                             caption="Load"
                             form-type="Horizontal"
                             key-up-function="vm.loadKeyUp()"></field-input>

                <field-select property="Shipper"
                              model="vm.currentShipment.PackageDefaults.Shipper"
                              options="item.Symbol as item.Name for item in vm.profile.Shippers"
                              caption="Shipper"
                              form-type="Horizontal"></field-select>

                <field-date property="ShipDate"
                            model="vm.startshipdate.value"
                            caption="Ship Date"
                            form-type="Horizontal"
                            is-open="vm.startshipdate.opened"
                            datepicker-options="vm.dateOptions"></field-date>

                <field-select property="Terms"
                              model="vm.currentShipment.PackageDefaults.Terms"
                              options="item.Symbol as item.Name for item in vm.profile.PaymentTerms"
                              caption="Terms"
                              form-type="Horizontal"></field-select>

                <field-checkbox property="ThirdPartyBilling"
                                model="vm.currentShipment.PackageDefaults.ThirdPartyBilling"
                                caption="3rd Party"
                                change="vm.thirdPartyBillingChanged()"></field-checkbox>

                <field-checkbox property="BillConsignee"
                                model="vm.currentShipment.PackageDefaults.BillConsignee"
                                caption="Bill Consignee"
                                change="vm.billConsigneeChanged()"></field-checkbox>

                <field-checkbox property="Brokerage"
                                model="vm.currentShipment.PackageDefaults.Brokerage"
                                caption="Brokerage"
                                change="vm.brokerageChanged()"></field-checkbox>

                <div class="address-tabs">
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-class="{'active': vm.activeAddressTab === 0}" ng-show="!vm.showDistributionList">
                            <a href="" ng-click="vm.activeAddressTab = 0">Pickup From</a>
                        </li>
                        <li ng-class="{'active': vm.activeAddressTab === 1}" ng-show="vm.showDistributionList">
                            <a href="" ng-click="vm.activeAddressTab = 1">Distribution List</a>
                        </li>
                        <li ng-class="{'active': vm.activeAddressTab === 2}" ng-show="!vm.profile.FieldOptions.ReturnAddress.IsHidden">
                            <a href="" ng-click="vm.activeAddressTab = 2">Return Address</a>
                        </li>
                        <li ng-class="{'active': vm.activeAddressTab === 3}" ng-show="!vm.profile.FieldOptions.OriginAddress.IsHidden">
                            <a href="" ng-click="vm.activeAddressTab = 3">Origin</a>
                        </li>
                        <li ng-class="{'active': vm.activeAddressTab === 4}" ng-show="vm.currentShipment.PackageDefaults.ThirdPartyBilling">
                            <a href="" ng-click="vm.activeAddressTab = 4">3rd Party Addr</a>
                        </li>
                        <li ng-class="{'active': vm.activeAddressTab === 5}" ng-show="vm.currentShipment.PackageDefaults.ConsigneeThirdPartyBilling">
                            <a href="" ng-click="vm.activeAddressTab = 5">Consignee 3rd</a>
                        </li>
                        <li ng-class="{'active': vm.activeAddressTab === 6}" ng-show="vm.currentShipment.PackageDefaults.BrokerageThirdPartyBilling">
                            <a href="" ng-click="vm.activeAddressTab = 6">Brokerage Addr</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 0}" ng-show="vm.activeAddressTab === 0">
                            <name-address caption="Pickup From"
                                          nameaddress="vm.currentShipment.PackageDefaults.Consignee"
                                          countries="vm.profile.Countries"
                                          translations="vm.translations"
                                          field-options="vm.profile.FieldOptions"
                                          address-property-name="Consignee"
                                          current-shipment="vm.currentShipment"
                                          hide-address-book-list="false"
                                          hide-checkboxes="false"
                                          hide-validate="false"
                                          hide-search="false"
                                          active-subtab-index="1"
                                          is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                          address-book-id="vm.addressBookId"
                                          disable-fields="false"></name-address>
                        </div>
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 1}" ng-show="vm.activeAddressTab === 1">
                            <distribution-list distribution-list="vm.distributionList"></distribution-list>
                        </div>
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 2}" ng-show="vm.activeAddressTab === 2">
                            <name-address caption="Return Address"
                                          nameaddress="vm.currentShipment.PackageDefaults.ReturnAddress"
                                          countries="vm.profile.Countries"
                                          translations="vm.translations"
                                          field-options="vm.profile.FieldOptions"
                                          address-property-name="ReturnAddress"
                                          current-shipment="vm.currentShipment"
                                          hide-address-book-list="false"
                                          hide-checkboxes="false"
                                          hide-validate="false"
                                          hide-search="false"
                                          active-subtab-index="2"
                                          is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                          address-book-id="vm.addressBookId"
                                          disable-fields="false"></name-address>
                        </div>
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 3}" ng-show="vm.activeAddressTab === 3">
                            <name-address caption="Origin"
                                          nameaddress="vm.currentShipment.PackageDefaults.OriginAddress"
                                          countries="vm.profile.Countries"
                                          translations="vm.translations"
                                          field-options="vm.profile.FieldOptions"
                                          address-property-name="OriginAddress"
                                          current-shipment="vm.currentShipment"
                                          hide-address-book-list="false"
                                          hide-checkboxes="false"
                                          hide-validate="false"
                                          hide-search="false"
                                          active-subtab-index="3"
                                          is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                          address-book-id="vm.addressBookId"
                                          disable-fields="false"></name-address>
                        </div>
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 4}" ng-show="vm.activeAddressTab === 4">
                            <name-address caption="3rd Party"
                                          nameaddress="vm.currentShipment.PackageDefaults.ThirdPartyBillingAddress"
                                          countries="vm.profile.Countries"
                                          translations="vm.translations"
                                          field-options="vm.profile.FieldOptions"
                                          address-property-name="ThirdPartyBillingAddress"
                                          current-shipment="vm.currentShipment"
                                          hide-address-book-list="false"
                                          hide-checkboxes="false"
                                          hide-validate="false"
                                          hide-search="false"
                                          active-subtab-index="4"
                                          is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                          address-book-id="vm.addressBookId"
                                          disable-fields="false"></name-address>
                        </div>
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 5}" ng-show="vm.activeAddressTab === 5">
                            <name-address caption="Consignee 3rd Party"
                                          nameaddress="vm.currentShipment.PackageDefaults.ConsigneeThirdPartyBillingAddress"
                                          countries="vm.profile.Countries"
                                          translations="vm.translations"
                                          field-options="vm.profile.FieldOptions"
                                          address-property-name="ConsigneeThirdPartyBillingAddress"
                                          current-shipment="vm.currentShipment"
                                          hide-address-book-list="false"
                                          hide-checkboxes="false"
                                          hide-validate="false"
                                          hide-search="false"
                                          active-subtab-index="5"
                                          is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                          address-book-id="vm.addressBookId"
                                          disable-fields="false"></name-address>
                        </div>
                        <div class="tab-pane" ng-class="{'active': vm.activeAddressTab === 6}" ng-show="vm.activeAddressTab === 6">
                            <name-address caption="Brokerage"
                                          nameaddress="vm.currentShipment.PackageDefaults.BrokerageThirdPartyBillingAddress"
                                          countries="vm.profile.Countries"
                                          translations="vm.translations"
                                          field-options="vm.profile.FieldOptions"
                                          address-property-name="BrokerageThirdPartyBillingAddress"
                                          current-shipment="vm.currentShipment"
                                          hide-address-book-list="false"
                                          hide-checkboxes="false"
                                          hide-validate="false"
                                          hide-search="false"
                                          active-subtab-index="6"
                                          is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                          address-book-id="vm.addressBookId"
                                          disable-fields="false"></name-address>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': vm.activeTab === 0}"><a href="" ng-click="vm.activeTab = 0">General</a></li>
                <li ng-class="{'active': vm.activeTab === 1}"><a href="" ng-click="vm.activeTab = 1">Accessorials</a></li>
                <li ng-class="{'active': vm.activeTab === 2}"><a href="" ng-click="vm.activeTab = 2">Intl</a></li>
                <li ng-class="{'active': vm.activeTab === 3}"><a href="" ng-click="vm.activeTab = 3">Hazmat</a></li>
                <li ng-class="{'active': vm.activeTab === 4}"><a href="" ng-click="vm.activeTab = 4">Reference</a></li>
                <li ng-class="{'active': vm.activeTab === 5}"><a href="" ng-click="vm.activeTab = 5">LTL</a></li>
                <li ng-class="{'active': vm.activeTab === 6}"><a href="" ng-click="vm.activeTab = 6">Visibility</a></li>
                <li ng-class="{'active': vm.activeTab === 7}"><a href="" ng-click="vm.activeTab = 7">Goods</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 0}" ng-show="vm.activeTab === 0">
                    <general-tab></general-tab>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 1}" ng-show="vm.activeTab === 1">
                    <accessorial-tab></accessorial-tab>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 2}" ng-show="vm.activeTab === 2">
                    <international-tab></international-tab>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 3}" ng-show="vm.activeTab === 3">
                    <hazmat-tab></hazmat-tab>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 4}" ng-show="vm.activeTab === 4">
                    <reference-tab></reference-tab>
                    <div class="form-group">
                        <field-select property="ConsigneeReference"
                                      model="vm.currentShipment.PackageDefaults.ConsigneeReference"
                                      options="item.Value as item.Name for item in vm.temperatureOptions"
                                      caption="Temperature"
                                      form-type="Horizontal"
                                      change-function="vm.temperatureChanged()"></field-select>
                    </div>
                    <div class="form-group" ng-show="vm.currentShipment.PackageDefaults.ConsigneeReference === 'Frozen'">
                        <field-input property="MiscReference3"
                                     model="vm.currentShipment.PackageDefaults.MiscReference3"
                                     caption="Dry Ice Weight (kg)"
                                     form-type="Horizontal"></field-input>
                    </div>
                    <div class="form-group">
                        <field-checkbox property="MiscReference4"
                                        model="vm.currentShipment.PackageDefaults.MiscReference4"
                                        caption="Biological Sample"
                                        change="vm.biologicalSampleChanged()"></field-checkbox>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 5}" ng-show="vm.activeTab === 5">
                    <ltl-tab></ltl-tab>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 6}" ng-show="vm.activeTab === 6">
                    <visibility-tab></visibility-tab>
                </div>
                <div class="tab-pane" ng-class="{'active': vm.activeTab === 7}" ng-show="vm.activeTab === 7">
                    <goods-tab></goods-tab>
                </div>
            </div>

            <div class="shipping-actions text-right">
                <button class="btn btn-sm btn-default" ng-click="vm.saveShipment()" ng-if="!vm.profile.ProfileSetting.DisablePendingShipment">Save</button>
                <button class="btn btn-sm btn-default" ng-click="vm.rate()" ng-hide="true">Rate</button>
                <button class="btn btn-sm btn-primary" ng-click="vm.checkShip()" ng-if="!vm.profile.ProfileSetting.DisableShip">Ship</button>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.showLastShipmentPanel">
        <div class="col-md-12">
            <div class="last-shipment-panel">
                <h4>Last Shipment</h4>
                <div ng-if="vm.lastShipmentResponse">
                    <div>Total Packages: {{vm.lastShipmentResponse.TotalPackages}}</div>
                    <div>Service: {{vm.lastShipmentResponse.PackageDefaults.Service.Name}}</div>
                    <div>Tracking: {{vm.lastShipmentResponse.TrackingNumber}}</div>
                </div>
            </div>
        </div>
    </div>
</div>