<!DOCTYPE html>
<html ng-app="shipExecApp">
<head>
    <meta charset="utf-8" />
    <title>ShipExec Shipping</title>
</head>
<body>
    <div class="container-fluid shipping-page">
        <keyboard-event key="F2" on-keypress="vm.newShipment()"></keyboard-event>
        <keyboard-event key="F7" on-keypress="vm.load()"></keyboard-event>
        <keyboard-event key="F8" on-keypress="vm.repeatShipment()"></keyboard-event>
        <keyboard-event key="F9" on-keypress="vm.rate()"></keyboard-event>
        <keyboard-event key="F12" on-keypress="vm.checkShip()"></keyboard-event>

        <div class="row toolbar-row">
            <div class="col-md-12">
                <button class="btn btn-xs btn-primary" ng-click="vm.newShipment()">New(F2)</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.repeatShipment()">Repeat(F8)</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.buildShipment && vm.buildShipment()" ng-if="vm.buildShipment">Build</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.showDistributionList = true" ng-if="vm.showDistributionList !== undefined">DistList</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.load()">Pickup</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.getPendingShipments && vm.getPendingShipments()" ng-if="!vm.profile.ProfileSetting.DisablePendingShipment">Pending</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.goMailRoom && vm.goMailRoom()" ng-if="vm.profile.ProfileSetting.EnableMailRoomProcessing">MailRoom</button>

                <span class="pull-right" style="margin-left: 8px;">
                    Mode:
                    <field-select property="ShipMode"
                                  model="vm.shipMode"
                                  options="item.Value as item.Name for item in vm.shipModes"
                                  caption="Mode"
                                  form-type="Inline">
                    </field-select>
                </span>
                <span class="pull-right" style="margin-left: 8px;" ng-if="vm.totalPackages > 0">
                    Pkg: {{vm.packageIndex + 1}} of {{vm.totalPackages}}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-horizontal">
                    <field-select property="LoadFrom"
                                  model="vm.loadFrom"
                                  options="item.Value as item.Name for item in vm.loadFromOptions"
                                  caption="Load From"
                                  form-type="Horizontal">
                    </field-select>

                    <field-input property="Load"
                                 model="vm.loadValue"
                                 caption="Load"
                                 form-type="Horizontal">
                    </field-input>

                    <div ng-if="vm.profile.FieldOptions.Consignee && !vm.showDistributionList">
                        <label class="control-label">{{vm.profile.FieldOptions.Consignee.Caption || 'Consignee'}}</label>
                        <name-address caption="Consignee"
                                      nameaddress="vm.currentShipment.PackageDefaults.Consignee"
                                      countries="vm.profile.Countries"
                                      translations="vm.translations"
                                      field-options="vm.profile.FieldOptions"
                                      address-property-name="Consignee"
                                      current-shipment="vm.currentShipment"
                                      hide-address-book-list="false"
                                      hide-checkboxes="false"
                                      hide-validate="false"
                                      hide-search="false"
                                      active-subtab-index="0"
                                      is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                      address-book-id="vm.addressBookId"
                                      disable-fields="false">
                        </name-address>
                    </div>

                    <field-date property="ShipDate"
                                model="vm.startshipdate.value"
                                caption="Ship Date"
                                is-open="vm.startshipdate.opened"
                                datepicker-options="vm.dateOptions"
                                form-type="Horizontal">
                    </field-date>

                    <field-select property="Terms"
                                  model="vm.currentShipment.PackageDefaults.Terms"
                                  options="item.Value as item.Name for item in vm.profile.PaymentTerms"
                                  caption="Terms"
                                  form-type="Horizontal">
                    </field-select>

                    <field-checkbox property="ThirdPartyBilling"
                                    model="vm.currentShipment.PackageDefaults.ThirdPartyBilling"
                                    caption="3rd Party"
                                    change="vm.onThirdPartyBillingChanged && vm.onThirdPartyBillingChanged()">
                    </field-checkbox>

                    <field-checkbox property="BillConsignee"
                                    model="vm.currentShipment.PackageDefaults.BillConsignee"
                                    caption="Bill Consignee">
                    </field-checkbox>

                    <field-checkbox property="Brokerage"
                                    model="vm.currentShipment.PackageDefaults.Brokerage"
                                    caption="Brokerage">
                    </field-checkbox>

                    <field-checkbox property="BiologicalSample"
                                    model="vm.currentShipment.PackageDefaults.MiscReference4"
                                    caption="Biological Sample"
                                    change="vm.onBiologicalSampleChanged && vm.onBiologicalSampleChanged()">
                    </field-checkbox>

                    <field-input property="DryIceWeight"
                                 model="vm.currentShipment.PackageDefaults.MiscReference3"
                                 caption="Dry Ice Weight (kg)"
                                 form-type="Horizontal"
                                 ng-disabled="vm.currentShipment.PackageDefaults.ConsigneeReference !== 'Frozen'">
                    </field-input>

                    <div class="form-group" ng-if="vm.profile.FieldOptions.ReturnAddress && !vm.profile.FieldOptions.ReturnAddress.IsHidden">
                        <label class="control-label">{{vm.profile.FieldOptions.ReturnAddress.Caption || 'Return Address'}}</label>
                        <name-address caption="Return Address"
                                      nameaddress="vm.currentShipment.PackageDefaults.ReturnAddress"
                                      countries="vm.profile.Countries"
                                      translations="vm.translations"
                                      field-options="vm.profile.FieldOptions"
                                      address-property-name="ReturnAddress"
                                      current-shipment="vm.currentShipment"
                                      hide-address-book-list="false"
                                      hide-checkboxes="false"
                                      hide-validate="false"
                                      hide-search="false"
                                      active-subtab-index="2"
                                      is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                      address-book-id="vm.addressBookId"
                                      disable-fields="false">
                        </name-address>
                    </div>

                    <div class="form-group" ng-if="vm.profile.FieldOptions.OriginAddress && !vm.profile.FieldOptions.OriginAddress.IsHidden">
                        <label class="control-label">{{vm.profile.FieldOptions.OriginAddress.Caption || 'Origin'}}</label>
                        <name-address caption="Origin"
                                      nameaddress="vm.currentShipment.PackageDefaults.OriginAddress"
                                      countries="vm.profile.Countries"
                                      translations="vm.translations"
                                      field-options="vm.profile.FieldOptions"
                                      address-property-name="OriginAddress"
                                      current-shipment="vm.currentShipment"
                                      hide-address-book-list="false"
                                      hide-checkboxes="false"
                                      hide-validate="false"
                                      hide-search="false"
                                      active-subtab-index="3"
                                      is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                      address-book-id="vm.addressBookId"
                                      disable-fields="false">
                        </name-address>
                    </div>

                    <div ng-if="vm.currentShipment.PackageDefaults.ThirdPartyBilling">
                        <name-address caption="Third Party Billing Address"
                                      nameaddress="vm.currentShipment.PackageDefaults.ThirdPartyBillingAddress"
                                      countries="vm.profile.Countries"
                                      translations="vm.translations"
                                      field-options="vm.profile.FieldOptions"
                                      address-property-name="ThirdPartyBillingAddress"
                                      current-shipment="vm.currentShipment"
                                      hide-address-book-list="false"
                                      hide-checkboxes="false"
                                      hide-validate="false"
                                      hide-search="false"
                                      active-subtab-index="4"
                                      is-update-address-book-entry="vm.isUpdateAddressBookEntry"
                                      address-book-id="vm.addressBookId"
                                      disable-fields="false">
                        </name-address>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: vm.activeTab===0}"><a href ng-click="vm.activeTab=0">General</a></li>
                    <li ng-class="{active: vm.activeTab===1}"><a href ng-click="vm.activeTab=1">Accessorials</a></li>
                    <li ng-class="{active: vm.activeTab===2}"><a href ng-click="vm.activeTab=2">Intl</a></li>
                    <li ng-class="{active: vm.activeTab===3}"><a href ng-click="vm.activeTab=3">Hazmat</a></li>
                    <li ng-class="{active: vm.activeTab===4}"><a href ng-click="vm.activeTab=4">Reference</a></li>
                    <li ng-class="{active: vm.activeTab===5}"><a href ng-click="vm.activeTab=5">LTL</a></li>
                    <li ng-class="{active: vm.activeTab===6}"><a href ng-click="vm.activeTab=6">Visibility</a></li>
                    <li ng-class="{active: vm.activeTab===7}"><a href ng-click="vm.activeTab=7">Goods</a></li>
                </ul>

                <div class="tab-content" style="padding-top: 10px;">
                    <div class="tab-pane" ng-class="{active: vm.activeTab===0}" ng-show="vm.activeTab===0">
                        <general-tab></general-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===1}" ng-show="vm.activeTab===1">
                        <accessorial-tab></accessorial-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===2}" ng-show="vm.activeTab===2">
                        <international-tab></international-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===3}" ng-show="vm.activeTab===3">
                        <hazmat-tab></hazmat-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===4}" ng-show="vm.activeTab===4">
                        <reference-tab></reference-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===5}" ng-show="vm.activeTab===5">
                        <ltl-tab></ltl-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===6}" ng-show="vm.activeTab===6">
                        <visibility-tab></visibility-tab>
                    </div>
                    <div class="tab-pane" ng-class="{active: vm.activeTab===7}" ng-show="vm.activeTab===7">
                        <goods-tab></goods-tab>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="vm.saveShipment()" ng-if="!vm.profile.ProfileSetting.DisablePendingShipment">Save</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.rate()" ng-if="false">Rate</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.checkShip()" ng-if="!vm.profile.ProfileSetting.DisableShip">Ship</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.saveLicensePlate()" ng-if="vm.profile.ProfileSetting.EnableLicensePlate">Create License Plate</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.shipDistributionList()" ng-if="vm.showDistributionList">Ship Distribution List</button>
            </div>
        </div>

        <div class="row" ng-if="vm.showLastShipmentPanel">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Last Shipment</div>
                    <div class="panel-body">
                        <div ng-if="vm.lastShipmentResponse">
                            <div>Tracking Number: {{vm.lastShipmentResponse.TrackingNumber}}</div>
                            <div>Total Charges: {{vm.lastShipmentResponse.TotalCharges}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>